<div class="qualifications-container">
  <div *ngFor="let qualification of qualifications" class="qualification">
    <h3>{{ qualification.name }}</h3>
    <p class="description">{{ qualification.description }}</p>
    <button (click)="showDetails(qualification.id)">Pokaż szczegóły</button>
    <button (click)="editQualification(qualification)">Edytuj</button>
    <button (click)="deleteQualification(qualification.id)">Usuń</button>
  </div>
</div>

<div class="form-container">
  <h2>{{ isEditing ? 'Edytuj kwalifikację' : 'Dodaj nową kwalifikację' }}</h2>
  <form (ngSubmit)="isEditing ? updateQualification() : addQualification()">
    <label for="name">Nazwa:</label>
    <input id="name" [(ngModel)]="newQualification.name" name="name" required>
    <label for="description">Opis:</label>
    <input id="description" [(ngModel)]="newQualification.description" name="description" required>
    <button type="submit">{{ isEditing ? 'Zaktualizuj' : 'Dodaj' }}</button>
    <button type="button" *ngIf="isEditing" (click)="cancelEdit()">Anuluj</button>
  </form>
</div>