body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(90deg, #004d40, #00796b);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.instructions-container {
  flex: 1;
}

.search-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto 0;
}

.search-input {
  padding: 10px;
  border: 1px solid #00796b;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.search-button, .toggle-search-button {
  background-color: #004d40;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover, .toggle-search-button:hover {
  background-color: #00796b;
}

.qualifications-container {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  width: 90%;
  margin: 20px auto;
}

.qualification {
  position: relative;
  width: 12%;
  padding: 15px;
  border: 1px solid #00796b;
  border-radius: 10px;
  background-color: #6ec7c2;
  box-sizing: border-box;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.qualification p {
  margin: 0;
}

.qualification p.description {
  font-size: 0.9em;
  color: #00796b;
  height: 100px;
}

.qualification-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details-button {
  background-color: #004d40;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 40px;
}

.details-button:hover {
  background-color: #00796b;
}

.edit-delete-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.edit-delete-buttons button {
  background-color: #004d40;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 40px;
  flex: 1;
}

.edit-delete-buttons button:last-of-type {
  background-color: #d32f2f;
}

.edit-delete-buttons button:last-of-type:hover {
  background-color: #b71c1c;
}

.edit-delete-buttons button:hover {
  background-color: #00796b;
}

.star-button {
  background-color: transparent;
  border: none;
  color: #ffeb3b;
  cursor: pointer;
  font-size: 24px;
}

.star-button:hover {
  color: #ffc107;
}

.level-selector {
  margin-top: 10px;
}

.level-selector select {
  border: 1px solid #00796b;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.selected-level {
  margin-top: 5px;
  color: #00796b;
}

.form-container {
  width: 35%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #00796b;
  border-radius: 10px;
  background-color: #e0f2f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  color: #00796b;
}

.level-info {
  position: absolute;
  top: 59px;
  left: 53px;
  background-color: #e0f7fa;
  color: #00796b;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  width: 12%;
}

@media (max-width: 1835px) {
  .level-info {
    display: none;
  }
}

.level-info h3 {
  margin-top: 0;
}

.level-info ul {
  list-style-type: none;
  padding: 0;
}

.level-info li {
  margin: 5px 0;
}

input {
  padding: 5px;
  border: 1px solid #333;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.success-message {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  text-align: center;
}
