.about-container {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #f3e5f5; /* Jasny fioletowy */
}

h1, h2 {
    color: #6a1b9a; /* Ciemny fioletowy */
}

p {
    color: #333;
    font-size: 1.1em;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

.gallery {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.gallery img {
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}