.users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  /*background-color: #2e2e2e; !* Dark background *!*/
  border-radius: 10px;
}

.user-row {
  display: flex;
  align-items: center;
  width: 60%;
  padding: 15px;
  border: 1px solid #0c430f; /* Dark green border */
  border-radius: 5px;
  background-color: #3e3e3e; /* Slightly lighter dark background */
  color: white;
}

.user-icon {
  margin-right: 10px;
}

.user-info {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  text-align: center;
}

.user-field {
  flex: 1;
  text-align: left;
}
